<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FE7265B1C0B1FE000891FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FE726771C0B1FE100891FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FE726821C0B1FE100891FC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
